name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/devops-starter:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST_DNS }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: | 
            # Use sudo for permission
            sudo docker pull ${{ secrets.DOCKER_USERNAME }}/Devops-starter:latest
            
            # Stop & Remove old container (ignore errors if it doesn't exist)
            sudo docker stop my-web-app || true
            sudo docker rm my-web-app || true
            
            # Run new container with sudo
            sudo docker run -d --name my-web-app -p 80:80 ${{ secrets.DOCKER_USERNAME }}/your-repo-name:latest
