- name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: BKY1601  # <--- WE TYPED IT DIRECTLY HERE
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: BKY1601/devops-starter:latest  # <--- AND HERE
